<!DOCTYPE html>
<html>
  <head>
    <title>Commienet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>window.process = { env: { NODE_ENV: '<%= Rails.env %>' } };</script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
